/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/*** Global Style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #444343;
}

main {
	width: 1140px;
	margin-inline: auto;
}

footer {
	background-color: #151414;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding: 100px 0;
	height: 550px;
	display: flex;
	align-items: center;
}

/*** Common Design ***/

/* Contact Us Button */
button.button {
	width: 160px;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
  border-radius: 5px;
	border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

/* Primary Button */
.btn_primary {
	background-color: #F15B22;
	color: #FFFFFF;
	height: 65px;
  padding: 20px 25px;
}

/* Primary Button Hover */
.btn_primary:hover {
  background-color: #e64c0f;
}

/* Secondary Button */
.btn_secondary {
	background-color: #FFFFFF;
	color: #F15B22;
	height: 55px;
  padding: 15px 25px;
}

/* Secondary Button Hover */
.btn_secondary:hover {
  background-color: #F5F5F5;
}


/*** Banner Styles ***/
/* Banner */
.banner {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
  height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Banner Contents */
.banner_contents {
  text-align: right;
  width: 525px;
  margin-right: 80px;
  margin-bottom: 100px;
}

/* Banner Title */
.banner_contents > .banner_title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
	line-height: 76px;
	margin-bottom: 25px;
}

/* Banner Description */
.banner_contents > .banner_description {
  font-weight: 400;
  font-size: 16px;
	line-height: 26px;
	margin-bottom: 30px;
}


/*** My Status (Success/Failures) ***/

/* My Status (Success/Failures) Section */
.my_status_section {
	margin-top: 130px; 
}

/* My Status (Success/Failures) Contents */
.my_status_contents {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

/* My Status (Success) DIV */
.my_status_contents > .my_status_image {
	position: relative;
}

/* My Status (Success) Shape */
.my_status_contents > .my_status_image > .rounded_shape {
	background-color: #f7f7f7;
	position: absolute;
	bottom: 0;
	height: 570px;
	width: 570px;
	border-radius: 50%;
	z-index: -1;
}

/* My Status (Success) Image */
.my_status_contents > .my_status_image > img.success_image {
	height: auto;
	width: 570px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

/* My Status (Failures) Image */
.my_status_contents > .my_status_image > img.failure_image {
	height: 720px;
	width: 570px;
}

/* My Status (Success/Failures) Group */
.my_status_group {
	width: 410px;
	margin-bottom: 80px;
}

/* My Status (Success/Failures) Title */
.my_status_group > .my_status_title {
	font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	color: #151414;
	margin-bottom: 25px;
}

/* My Status (Success/Failures) Description */
.my_status_group > .my_status_description {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 15px;
	text-align: justify;
}

/* My Status (Success/Failures) Reasons */
.my_status_group > .status_reasons_group >.status_reasons {
	display: flex;
	gap: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 10px; 
}


/*** My Plan ***/

/* My Plan */
.my_plan_section {
  text-align: center;
	margin: 130px 0;
}

/* My Plan Title */
.my_plan_section > .title {
  font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	color: #151414;
	margin-bottom: 55px;
}

/* My Plan Group */
.my_plan_group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* My Plan */
.my_plan_group > .my_plan {
  background-color: #F5F5F5;
	width: 270px;
	padding: 50px 20px;
}

/* Plan Image */
.my_plan_group > .my_plan > .plan_image {
	margin-bottom: 10px;
}

/* Plan Title */
.my_plan_group > .my_plan > .plan_title {
	color: #151414;
	font-size: 25px;
  font-weight: 700;
	line-height: 35px;
	text-align: center;
	margin-bottom: 5px;
}

/* Plan Description */
.my_plan_group > .my_plan > .plan_description {
	color: #737272;
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	text-align: center;
}


/*** Positive Mindset ***/

/* Positive Mindset Section */
.positive_mindset_section {
	background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
	background-repeat: no-repeat;
  background-size: cover;
	border-radius: 8px;
	margin-bottom: 130px;
	height: 300px;
}

/* Positive Mindset DIV */
.positive_mindset_section > .positive_mindset {
	display: flex;
  align-items: center;
	height: 300px;
}

/* Positive Mindset Contents */
.positive_mindset > .positive_mindset_contents {
	margin-left: 65px;
}

/* Positive Mindset Title */
.positive_mindset_contents > .positive_mindset_title {
	font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	color: #FFFFFF;
	margin-bottom: 20px;
}


/*** Footer ***/

/* Footer Styles */
.footer {
	width: 1140px;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

/* Footer Left Contents */
.footer > .left_contents {
	max-width: 500px;
}

/* Footer Left Contents Title */
.footer > .left_contents > .title {
	color: #F8F8F8;
	font-size: 45px;
	font-weight: 700;
	line-height: 53px;
	margin-bottom: 20px;
}

/* Footer Left Contents Description */
.footer > .left_contents > .description {
	margin-bottom: 25px;
	text-align: justify;
}

/* Footer Left Contents Email */
.footer > .left_contents > .email {
	margin-bottom: 15px;
}

/* Footer Left Contents Phone */
.footer > .left_contents > .phone {
	margin-bottom: 30px;
}

/* Footer Left Contents Social */
.footer > .left_contents > .social {
	display: flex;
	gap: 15px;
}

/* Footer Right Contents */
.footer > .right_contents {
	max-width: 325px;
}

/* Footer Right Contents Title */
.footer > .right_contents > .title {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 30px;
}

/* Footer Right Contents Subcription */
.footer > .right_contents > .subcription_email {
	background-color: #151414;
	width: 100%;
	height: 65px;
	font-size: 18px;
	line-height: 20px;
	color: #F3F3F3;
	padding: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	outline: none;
	margin-bottom: 15px;
}
	